.banner {
	padding-top: 200px;
	padding-bottom: 200px;

	background-image: url("../images/banner.png");


	h1 {
		@include reset;
	}

	h2 {
		margin-top: 0;

		@media (max-width: $md-width) {
			margin-bottom: 16px;
		}
	}
}

.reg-form {
	@include content-position-center;

	max-width: 570px;

	.flex {
		justify-content: space-between;

		@media (max-width: $md-width) {
			flex-direction: column;
			gap: 24px;
			justify-content: flex-start;
		}
	}

	input {
		box-sizing: border-box;
		min-width: 270px;
		min-height: 50px;
		padding-left: 20px;

		background: none;
		border-width: 2px;

		&::placeholder {
			color: #fff;
		}
	}

	.btn {
		width: 100%;
		height: 57px;
		margin-top: 24px;
		padding: 20px 30px;
	}
}
