header {
	@include container;

	position: absolute;
	top: 25px;
	right: 0;
	left: 0;

	@media (max-width: $md-width) {
		&.flex {
			flex-direction: column;
			gap: 10px;
		}
	}
}

.logo {
	margin-right: 90px;

	&.flex {
		align-items: center;
	}

	img {
		width: 24px;
		height: 24px;

		margin-right: 16px;
	}
}

.links {
	@include reset;

	margin-right: 40px;

	list-style-type: none;

	&.flex {
		gap: 24px;
		align-items: center;
	}

	@media (max-width: $phone-width) {
		li {
			width: 100%;
		}

		&.flex {
			flex-direction: column;
			gap: 1px;
			align-items: flex-start;
		}
	}
}

.header-link,
.logo-text {
	line-height: 16.5px;
}

.search {
	position: absolute;
	top: 6px;
	right: 0;

	input {
		box-sizing: border-box;
		width: 248px;
		height: 25px;
		padding: 5px 10px;

		color: $dark-grey;

		background: $dark;
		border: none;
		border-radius: 50px;
		outline: none;

		@media (max-width: $phone-width) {
			width: 100%;
		}

		&::placeholder {
			text-transform: uppercase;
		}
	}

	@media (max-width: 1239px) {
		right: 20px;
	}

	@media (max-width: $md-width) {
		position: static;
	}
}
