header {
	@include container;

	position: absolute;
	top: 25px;
	right: 0;
	left: 0;

	@media (max-width: $md-width) {
		&.flex {
			flex-direction: column;
			gap: 18px;
		}
	}
}

.logo {
	margin-right: 90px;

	&.flex {
		align-items: center;
	}

	img {
		width: 24px;
		height: 24px;

		margin-right: 16px;
	}
}

.links {
	margin-right: 40px;

	&.flex {
		gap: 24px;
		align-items: center;
	}

	@media (max-width: $phone-width) {
		&.flex {
			flex-direction: column;
			gap: 3px;
			align-items: flex-start;
		}
	}
}

.header-link {
	font-size: $text-sm;
	line-height: 16px;
}

.search {
	position: absolute;
	right: 0;

	input {
		box-sizing: border-box;
		width: 248px;
		height: 25px;
		padding: 5px 10px;

		color: $dark-grey;

		background: $dark;
		border: none;
		border-radius: 50px;
		outline: none;
	}

	&.flex {
		align-items: center;
	}

	@media (max-width: $md-width) {
		position: static;
	}
}
