@import "components/popular-track";

.popular-track-section {

	display: grid;
	grid-template-columns: repeat(2, 46%);
	gap: 25px 50px;
	padding-top: 100px;

	@media (max-width: $md-width) {
		grid-template-columns: repeat(1, 1fr);
	}

	h2 {
		grid-column: 1/-1;
		margin-bottom: 23px;
	}
}
