@import "components/pricing-item";

.pricing-section {
	padding-top: 100px;

	h2 {
		margin-bottom: 50px;
	}
}

.pricing {
	&.flex {
		gap: 47px;
		justify-content: space-between;

		@media (max-width: $md-width) {
			flex-direction: column;
			align-items: center;
		}
	}

	margin-bottom: 40px;
}
