@font-face {
  font-weight: 400;
  font-family: Roboto;
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
  font-weight: 700;
  font-family: Roboto;
  src: url(../fonts/Roboto/Roboto-Bold.ttf);
}
.link {
  text-decoration: none;
  color: #CACACA;
}
.link:hover {
  color: #fff;
}

.btn {
  display: block;
  color: #CACACA;
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.ta-center {
  text-align: center;
}

.br-radius-3 {
  border-radius: 3px;
}

.br-radius-5 {
  border-radius: 5px;
}

.br-radius-32 {
  border-radius: 32px;
}

.border-main-color {
  border: 1px solid #CACACA;
}

.border-white {
  border: 1px solid #fff;
}

.text-white {
  color: #fff;
}

.text-orange {
  color: #F89202;
}

.text-grey {
  color: #E0E0E0;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.bg-green {
  background: #34C176;
}

.bg-red {
  background: #95390C;
}

.bg-purple {
  background: #5328A1;
}

.bg-center {
  background-position: center;
}

.bg-cover {
  background-size: cover;
}

.text-xs {
  font-size: 11px;
}

.text-sm {
  font-size: 12.8px;
}

.text-2 {
  font-size: 24px;
}

.text-3 {
  font-size: 32px;
}

.text-4 {
  font-size: 40px;
}

.text-5 {
  font-size: 48px;
}

.text-6 {
  font-size: 56px;
}

.text-7 {
  font-size: 64px;
}

.bold {
  font-weight: bold;
}

h1 {
  font: bold 60px/90px Roboto, sans-serif;
  text-transform: uppercase;
}
@media (max-width: 454px) {
  h1 {
    font-size: 30px;
    line-height: 45px;
  }
}

h2 {
  font: bold 38px/57px Roboto, sans-serif;
  text-transform: uppercase;
}
@media (max-width: 454px) {
  h2 {
    font-size: 18px;
    line-height: 27px;
  }
}

h3 {
  font: 400 24px/45px Roboto, sans-serif;
}
@media (max-width: 454px) {
  h3 {
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
  }
}

h4 {
  font: bold 18px/27px Roboto, sans-serif;
}
@media (max-width: 454px) {
  h4 {
    font-size: 16px;
    line-height: 24px;
  }
}

body {
  margin: 0;
  padding: 0;
  font: 16px/1.5 Roboto, sans-serif;
  background: #08020D;
  color: #CACACA;
}

.container {
  margin: 0 auto;
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 1240px) {
  .container {
    max-width: 1200px;
    padding-left: 0;
    padding-right: 0;
  }
}

.flex {
  display: flex;
}

.row-reverse {
  flex-direction: row-reverse;
}

header {
  margin: 0 auto;
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  position: absolute;
  top: 25px;
  right: 0;
  left: 0;
}
@media (min-width: 1240px) {
  header {
    max-width: 1200px;
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width: 905px) {
  header.flex {
    flex-direction: column;
    gap: 10px;
  }
}

.logo {
  margin-right: 90px;
}
.logo.flex {
  align-items: center;
}
.logo img {
  width: 24px;
  height: 24px;
  margin-right: 16px;
}

.links {
  margin: 0;
  padding: 0;
  margin-right: 40px;
  list-style-type: none;
}
.links.flex {
  gap: 24px;
  align-items: center;
}
@media (max-width: 454px) {
  .links.flex {
    flex-direction: column;
    gap: 1px;
    align-items: flex-start;
  }
}

.header-link,
.logo-text {
  line-height: 16.5px;
}

.search {
  position: absolute;
  top: 6px;
  right: 0;
}
.search input {
  box-sizing: border-box;
  width: 248px;
  height: 25px;
  padding: 5px 10px;
  color: #757575;
  background: #3C3B3D;
  border: none;
  border-radius: 50px;
  outline: none;
}
@media (max-width: 454px) {
  .search input {
    width: 100%;
  }
}
.search input::placeholder {
  text-transform: uppercase;
}
@media (max-width: 1239px) {
  .search {
    right: 20px;
  }
}
@media (max-width: 905px) {
  .search {
    position: static;
  }
}

footer {
  background: linear-gradient(265.08deg, #95390c 14.9%, #5328a1 68.95%);
}
footer hr {
  margin: 0;
  color: #CACACA;
}
footer a {
  color: #E0E0E0;
}

.footer-top {
  margin: 0 auto;
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  padding-top: 62px;
  padding-bottom: 72px;
}
@media (min-width: 1240px) {
  .footer-top {
    max-width: 1200px;
    padding-left: 0;
    padding-right: 0;
  }
}
.footer-top h4 {
  text-transform: uppercase;
  margin-bottom: 16px;
  color: #fff;
}
.footer-top a {
  display: block;
}
.footer-top p {
  margin: 0;
  padding: 0;
}
@media (max-width: 905px) {
  .footer-top {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 454px) {
  .footer-top {
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }
}

.social.flex {
  gap: 24px;
}
.social .google {
  width: 26px;
  height: 17px;
  background: url("../images/Google+.png");
}
.social .twitter {
  width: 22px;
  height: 19px;
  background: url("../images/Twitter.png");
}
.social .facebook {
  width: 12px;
  height: 20px;
  background: url("../images/Facebook.png");
}
.social .instagram {
  width: 19px;
  height: 20px;
  background: url("../images/Instagram.png");
}

.footer-bottom {
  margin: 0 auto;
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  padding-bottom: 50px;
}
@media (min-width: 1240px) {
  .footer-bottom {
    max-width: 1200px;
    padding-left: 0;
    padding-right: 0;
  }
}
.footer-bottom.flex {
  gap: 16px;
}
@media (max-width: 454px) {
  .footer-bottom.flex {
    flex-direction: column;
  }
}

.banner {
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: url("../images/banner.png");
}
.banner h1 {
  margin: 0;
  padding: 0;
}
@media (max-width: 905px) {
  .banner h1 {
    margin-top: 50px;
  }
}
.banner h2 {
  margin-top: 0;
}
@media (max-width: 905px) {
  .banner h2 {
    margin-bottom: 16px;
  }
}

.reg-form {
  margin: 0 auto;
  max-width: 570px;
}
.reg-form .flex {
  justify-content: space-between;
}
@media (max-width: 905px) {
  .reg-form .flex {
    flex-direction: column;
    gap: 24px;
    justify-content: flex-start;
  }
}
.reg-form input {
  box-sizing: border-box;
  min-width: 270px;
  min-height: 50px;
  padding-left: 20px;
  background: none;
  border-width: 2px;
}
.reg-form input::placeholder {
  color: #fff;
}
.reg-form .btn {
  width: 100%;
  height: 57px;
  margin-top: 24px;
  padding: 20px 30px;
}

.pricing-item {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  border-radius: 1rem;
  max-width: 369px;
  box-sizing: border-box;
}
.pricing-item h3 {
  margin-bottom: 200px;
  line-height: 36px;
}
@media (max-width: 454px) {
  .pricing-item h3 {
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
  }
}
.pricing-item .pricing-value {
  margin-bottom: 36px;
}
.pricing-item .pricing-value.flex {
  gap: 16px;
  justify-content: center;
}
.pricing-item .pricing-value .value {
  line-height: 1em;
}
.pricing-item .pricing-value .currency {
  align-self: flex-start;
}
.pricing-item .btn {
  margin-bottom: 64px;
  padding: 20px 30px;
}
.pricing-item.bg-free {
  background: url("../images/subscribe_1.png");
  background-position: center;
  background-size: cover;
}
.pricing-item.bg-standard {
  background: url("../images/subscribe_2.png");
  background-position: center;
  background-size: cover;
}
.pricing-item.bg-premium {
  background: url("../images/subscribe_3.png");
  background-position: center;
  background-size: cover;
}
.pricing-item .pricing-footer {
  margin-bottom: 64px;
}

.pricing-section {
  padding-top: 100px;
}
.pricing-section h2 {
  margin-bottom: 50px;
  margin-top: 0;
}

.pricing {
  margin-bottom: 40px;
}
.pricing.flex {
  gap: 47px;
  justify-content: space-between;
}
@media (max-width: 905px) {
  .pricing.flex {
    flex-direction: column;
    align-items: center;
  }
}

.news-item:not(:last-child) {
  margin-bottom: 58px;
}
.news-item.flex {
  gap: 50px;
}
@media (max-width: 905px) {
  .news-item.flex {
    flex-direction: column;
  }
}
.news-item h3 {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 30px;
}
@media (max-width: 454px) {
  .news-item h3 {
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 16px;
  }
}

.news-item-img {
  flex-basis: 575px;
  flex-shrink: 2;
  align-self: center;
}
@media (max-width: 905px) {
  .news-item-img {
    flex-basis: 100%;
  }
}
.news-item-img img {
  width: 100%;
}
@media (max-width: 905px) {
  .news-item-img img {
    max-width: 570px;
  }
}

.news-content {
  flex-basis: 575px;
}
@media (max-width: 905px) {
  .news-content {
    flex-basis: 100%;
  }
}

.news-footer {
  margin-top: 24px;
  font-size: 12px;
}
.news-footer .btn {
  box-sizing: border-box;
  width: 135px;
  margin-top: 48px;
  padding: 16px 30px;
}

.news-author.flex {
  gap: 16px;
}

.news-section {
  padding-top: 100px;
}
.news-section h2 {
  margin-bottom: 48px;
  margin-top: 0;
}

.app-section {
  display: grid;
  grid-template-areas: "header header" "content picture";
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 100px;
  padding-top: 100px;
}
@media (max-width: 905px) {
  .app-section {
    grid-template-areas: "header header" "picture picture" "content content";
  }
}
.app-section h2 {
  grid-area: header;
  margin-bottom: 48px;
  margin-top: 0;
}
.app-section .app-content {
  grid-area: content;
}
.app-section .btn {
  padding: 16px 40px;
}
.app-section img {
  grid-area: picture;
  margin-left: 24%;
}
@media (max-width: 905px) {
  .app-section img {
    margin-left: 0;
  }
}

.artist-info {
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: url("../images/Morten Harket.png");
}
.artist-info h1 {
  margin-bottom: 16px;
}

.artist-info-buttons {
  margin-top: 50px;
  margin-bottom: 1.5rem;
}
.artist-info-buttons.flex {
  gap: 1.5rem;
}
@media (max-width: 905px) {
  .artist-info-buttons.flex {
    flex-direction: column;
  }
}
.artist-info-buttons .btn {
  width: 200px;
  padding: 20px 30px;
  line-height: 19.2px;
}
.artist-info-buttons .btn.flex {
  gap: 16px;
}
.artist-info-buttons img {
  width: 20px;
  filter: invert(1);
}

.popular-track {
  gap: 15px;
  align-items: center;
}
.popular-track img {
  width: 55px;
  height: 55px;
}

.track-info {
  flex-grow: 1;
}
.track-info.flex {
  justify-content: space-between;
}
.track-info h3 {
  line-height: 19.2px;
  margin: 0;
}
.track-info .time {
  align-self: center;
}

.popular-track-section {
  display: grid;
  grid-template-columns: repeat(2, 46%);
  gap: 25px 50px;
  padding-top: 100px;
}
@media (max-width: 905px) {
  .popular-track-section {
    grid-template-columns: repeat(1, 1fr);
  }
}
.popular-track-section h2 {
  grid-column: 1/-1;
  margin-bottom: 23px;
  margin-top: 0;
}

.discography-item img {
  width: 250px;
  height: 250px;
  margin-bottom: 12px;
}
@media (max-width: 600px) {
  .discography-item img {
    width: 137px;
    height: 137px;
  }
}

.discography-info h3 {
  font-size: 18px;
  line-height: 27px;
  margin: 0;
}

.discography-section {
  display: grid;
  grid-template-columns: repeat(4, 250px);
  gap: 25px 50px;
  padding-top: 100px;
}
@media (max-width: 1210px) {
  .discography-section {
    grid-template-columns: repeat(3, 250px);
  }
}
@media (max-width: 905px) {
  .discography-section {
    grid-template-columns: repeat(2, 250px);
  }
}
@media (max-width: 600px) {
  .discography-section {
    grid-template-columns: repeat(2, 139px);
  }
}
.discography-section h2 {
  grid-column: 1/-1;
  margin-bottom: 23px;
  margin-top: 0;
}

.similar-item img {
  width: 250px;
  height: 250px;
  margin-bottom: 12px;
}
@media (max-width: 600px) {
  .similar-item img {
    width: 137px;
    height: 137px;
  }
}

.similar-info h3 {
  font-size: 18px;
  line-height: 27px;
  margin: 0;
}

.similar-section {
  display: grid;
  grid-template-columns: repeat(4, 250px);
  gap: 25px 50px;
  margin-bottom: 100px;
  padding-top: 100px;
}
@media (max-width: 1210px) {
  .similar-section {
    grid-template-columns: repeat(3, 250px);
  }
}
@media (max-width: 905px) {
  .similar-section {
    grid-template-columns: repeat(2, 250px);
  }
}
@media (max-width: 600px) {
  .similar-section {
    grid-template-columns: repeat(2, 139px);
  }
}
.similar-section h2 {
  grid-column: 1/-1;
  margin-bottom: 23px;
  margin-top: 0;
}

/*# sourceMappingURL=app.css.map */
