.news-item {
	&:not(:last-child) {
		margin-bottom: 65px;
	}

	// @media (max-width: $md-width) {
	// 	&:not(:last-child) {
	// 		margin-bottom: 70px;
	// 	}
	// }

	&.flex {
		gap: 48px;

		@media (max-width: $md-width) {
			flex-direction: column;
		}
	}

	h3 {
		margin-top: 0;
		margin-bottom: 30px;

		font-size: 30px;

		@media (max-width: $phone-width) {
			margin-bottom: 16px;

			font-weight: 400;
			font-size: 16px;
		}
	}
}

.news-item-img {
	flex-basis: 575px;
	flex-shrink: 2;
	align-self: center;

	@media (max-width: $md-width) {
		flex-basis: 100%;
	}

	img {
		width: 100%;
		vertical-align: middle;

		@media (max-width: $md-width) {
			max-width: 570px;
		}
	}
}

.news-content {
	flex-basis: 575px;

	@media (max-width: $md-width) {
		flex-basis: 100%;
	}
}

.news-footer {
	margin-top: 24px;

	font-size: 12px;

	/* @media (max-width: $md-width) {
		margin-top: 26px;
	} */

	&.flex {
		flex-direction: column;
		justify-content: space-between;
	}

	.btn {
		box-sizing: border-box;
		width: 135px;

		margin-top: 48px;
		padding: 16px 30px;
	}
}

.news-author {
	img {
		width: 19px;
		height: 19px;
		align-self: center;
	}
	
	p {
		margin: 0;
	}

	&.flex {
		gap: 16px;
	}
}