.similar-item {
    img {
        width: 250px;
        height: 250px;
        margin-bottom: 12px;

        @media (max-width: 600px) {
            width: 137px;
            height: 137px;
        }
    }

}

.similar-info {
    h3 {
        font-size: 18px;
        line-height: 27px;
        margin: 0;
    }

    p {
        margin: 0;
    }
}