$text-color: #cacaca;
$bg-color: #08020d;

@font-face {
    font-family: "Roboto Regular";
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: "Roboto Bold";
    src: url(../fonts/Roboto/Roboto-Bold.ttf);
}

h1 {
    font: 60px/90px "Roboto Bold", sans-serif;
    text-transform: uppercase;
}

h2 {
    font: 38px/57px "Roboto Bold", sans-serif;
    text-transform: uppercase;
}