@font-face {
  font-weight: 400;
  font-family: Roboto;
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
  font-weight: 700;
  font-family: Roboto;
  src: url(../fonts/Roboto/Roboto-Bold.ttf);
}

@mixin reset {
  margin: 0;
  padding: 0;
}

@mixin content-position-center {
  margin: 0 auto;
}

@mixin capitalize {
  text-transform: uppercase;
}

@mixin container {
  @include content-position-center;

  max-width: calc(100% - 40px);

  @media (min-width: 1240px) {
    max-width: 1200px;
  }
}

h1 {
  font: bold 60px/90px Roboto, sans-serif;
  @include capitalize;
  @include reset;

  @media (max-width: $phone-width) {
      font-size: 30px;
      line-height: 45px;
  }
}

h2 {
  font: bold 38px/57px Roboto, sans-serif;
  @include capitalize;
  @include reset;

  @media (max-width: $phone-width) {
      font-size: 18px;
      line-height: 27px;
  }
}

h3 {
  font: 400 24px/45px Roboto, sans-serif;
  @include reset;

  @media (max-width: $phone-width) {
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
  }
}

h4 {
  font: bold 18px/27px Roboto, sans-serif;
  @include reset;

  @media (max-width: $phone-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

body {
  @include reset;
  
  font: 16px/1.5 Roboto, sans-serif;
  background: $black;
  color: $dark-grey;    
}

.container {
  @include container;
}

.flex {
  display: flex;
}
