$black: #08020D;
$grey: #E0E0E0;
$dark-grey: #CACACA;
$very-dark-grey: #757575;
$dark: #3C3B3D;
$green: #34C176;
$orange: #F89202;
$purple: #5328A1;
$red: #95390C;

$text-sm: 12.8px;
$text-1: 16px;
$text-2: 24px;
$text-3: 32px;
$text-4: 40px;
$text-5: 48px;
$text-6: 56px;
$text-7: 64px;

$max-width: 454px;