@import "variables";

@import "general";

@import "blocks/header";

@import "blocks/footer";

@import "blocks/banner";

@import "blocks/pricing";

@import "blocks/news";

@import "blocks/mobile";

@import "blocks/artist-info";